{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "9"
        }
      }
    ]
  ],
  "plugins": ["add-module-exports", "@babel/plugin-transform-object-assign","@babel/plugin-transform-modules-commonjs"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
