name: CI

on:
  merge_group:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read # for checkout

jobs:
  build:
    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write
    name: Build, lint and benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
      - run: npm ci
      - run: npx ls-engines
      - run: npm run prepublishOnly
      - name: Register Problem Matcher for ESLint that handles --report-unused-disable-directives
        run: echo "::add-matcher::.github/eslint-compact.json"
      - run: npm run lint -- --report-unused-disable-directives -f compact
      - run: npm run benchmark
      - uses: actions/upload-artifact@v4
        name: Cache build output
        with:
          retention-days: 1
          name: build-output-${{ github.run_id }}
          path: |
            dist/
            umd/

  coverage:
    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write
    name: Test and report coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
      - run: npm ci
      - run: npm run coverage
      - uses: davelosert/vitest-coverage-report-action@7bf7d3c1b17a0e27c7e0d14190fb39168584bed2 # v2
        if: always()

  test:
    needs: [build, coverage]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Run the testing suite on each major OS with the latest LTS release of Node.js
        os: [macos-latest, ubuntu-latest, windows-latest]
        node: [lts/*]
        # It makes sense to also test the oldest, and latest, versions of Node.js, on ubuntu-only since it's the fastest CI runner
        include:
          - os: ubuntu-latest
            # Also test the previous LTS release
            node: lts/-1
          # @TODO re-enable after the nightly builds work with vitest once again
          # - os: ubuntu-latest
          #   # Test the actively developed version that will become the latest LTS release next October
          #   node: current
        # The `build` job already runs the testing suite in ubuntu and lts/*
        exclude:
          - os: ubuntu-latest
            node: lts/*
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npx ls-engines
      - run: npm test

  esm-compatibility:
    name: Check ESM compatibility
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [lts/*, '21', 'latest']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - name: Test dependencies for ESM compatibility
        run: npm run check-esm-compatibility

  prod-deps:
    name: Cache production dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: prod-deps
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: prod-deps-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - if: steps.prod-deps.outputs.cache-hit != 'true'
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - if: steps.prod-deps.outputs.cache-hit != 'true'
        run: npm install --omit=dev --ignore-scripts

  edge-runtime:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
      - run: npm install
      - uses: actions/download-artifact@v4
        name: Restore build output
        with:
          name: build-output-${{ github.run_id }}
          path: .
      - run: npm run test:edge-runtime -- --retry=30

  browser-runtime:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
      - run: npm install
      - uses: actions/download-artifact@v4
        name: Restore build output
        with:
          name: build-output-${{ github.run_id }}
          path: .
      - run: npm run test:browser

  deno-runtime:
    runs-on: ubuntu-latest
    needs: [build, prod-deps]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        name: Install only production dependencies
        with:
          path: ./node_modules
          key: prod-deps-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - uses: actions/download-artifact@v4
        name: Restore build output
        with:
          name: build-output-${{ github.run_id }}
          path: .
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x.x
      - run: npm run test:deno

  bun-runtime:
    runs-on: ubuntu-latest
    needs: [build, prod-deps]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        name: Install only production dependencies
        with:
          path: ./node_modules
          key: prod-deps-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - uses: actions/download-artifact@v4
        name: Restore build output
        with:
          name: build-output-${{ github.run_id }}
          path: .
      - uses: antongolub/action-setup-bun@f0b9f339a7ce9ba1174a58484e4dc9bbd6f7b133 # v1
      - run: npm run test:bun

  node-runtimes:
    runs-on: ubuntu-latest
    needs: [build, prod-deps]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        name: Install only production dependencies
        with:
          path: ./node_modules
          key: prod-deps-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: actions/download-artifact@v4
        name: Restore build output
        with:
          name: build-output-${{ github.run_id }}
          path: .
      - run: npm run test:node-runtimes

  next-runtime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: lts/*
      - run: npm install
      - run: npm run test:next
